#gradient-spinner {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #fcfcff;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

#gradient-spinner:before {
    border-radius: 50%;
    content: "";
    clip-path: inset(0% 50% 0% 0%);
    animation: spin 1s linear infinite;
    width: 208px;
    height: 208px;
    top: -4px;
    left: -4px;
    position: absolute;
    z-index: -1;
    padding: 4px;
}

@keyframes spin {
    0% {
        background-image: linear-gradient(to bottom, #fca785 0%, #85fca7 100%);
        transform: rotate(0deg);
    }

    100% {
        background-image: linear-gradient(to bottom, #fca785 0%, #85fca7 100%);
        transform: rotate(360deg);

    }
}


/* Barnes Project */
#barnes {
    padding: 0;
    overflow: hidden;
}

#barnes img {
    height: 350px;
    width: auto;
}



